<!DOCTYPE html> 
<html lang="ja"> 
<head> 
<title>Twitter feed</title> 
<style>
  table {
    width: 100%;
  }
  table th {
    width: 10em;
  }
  table td input {
    width: 80%;
  }

  .error {
    background: #fee;
  }
</style>
</head> 
<body>
  <%= yield %>
</body></html> 
